.features {
  padding: 60px 0px;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 50px;
}

.formButton {
  width: 100% !important;
  height: 48px;
  flex-shrink: 0;
  border-radius: 12px;
  background: linear-gradient(180deg, #2f80ec 0%, #1addf9 100%);
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-top: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.textArea {
  width: 100% !important;
  height: 120px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* padding: 10px 30px; */
  outline: none;
}

.inlineText {
  width: 100% !important;
  color: #626466;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.companyName {
  width: 90% !important;
  height: 55px;
  flex-shrink: 0;
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* padding: 10px 30px; */
  outline: none;
}

.nameInput {
  width: 100% !important;
  height: 55px;
  flex-shrink: 0;
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* padding: 10px 30px; */
  outline: none;
  font-family: "Inter", sans-serif;
}

.formContainer {
  /* width: 675px !important; */
  width: 100%;
  margin: auto;
  height: 637px;
  flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  padding: 40px;
  opacity: 1;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.5);
}

#light .feature_header {
  width: 525px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
  font-family: "Inter", sans-serif;
}

#dark .feature_header {
  width: 525px;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
  font-family: "Inter", sans-serif;
}

.common_gap {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.contactFormGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}

@media screen and (max-width: 1224px) {
  .container_main {
    padding: 60px;
  }

  .common_gap {
    display: block;
    justify-content: center;
    padding: 60px;
  }
}
@media screen and (max-width: 996px) {
  .common_gap {
    display: block;
    justify-content: center;
    padding: 60px;
  }

  .contactFormGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
  }
}
@media screen and (max-width: 678px) {
  .container_main {
    padding: 40px 20px;
  }

  .contactFormGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
  }
  .common_gap {
    display: block;
    justify-content: center;
    padding: 60px;
  }
}
@media screen and (max-width: 480px) {
  .container_main {
    padding: 30px 10px;
  }

  .contactFormGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
  }
  .common_gap {
    display: block;
    justify-content: center;
    padding: 60px;
  }
}
